
 <div class="row" >
    <!-- col-4 takes 1/4 of the space -->
    <div class="col-4">
        <div class="card">
                <!-- || is used if member does not have photo -->
        <img src="{{member.photoUrl || './assets/user.png' }}" alt="{{member.knownAs}}"
        class="card-ing-top img-thumbnail">
        <div class="card-body">
            <div class="mb-2" *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
                <i class="class fa fa-circle text-success"></i> Online now
            </div>
           <div>
               <strong>Location:</strong>
               <p>{{member.city}}, {{member.country}}</p>
           </div>

           <div>
               <strong>Age:</strong>
               <p>{{member.age}}</p>
           </div>


           <div>
               <strong>last active:</strong>
               <!-- browser uses local time server return utc time -->
               <p>{{member.lastActive | timeago}}</p>
           </div>

           <div>
               <strong>Member since:</strong>
               <p>{{member.created | date}}</p>
           </div>


        </div>

        <div class="card-footer">
           <div class="btn-group d-flex">
               <button class="btn btn-primary">Like</button>
               <button (click)="selectTab('Messages')" class="btn btn-success">Messages</button>
           </div>
        </div>
        </div>
        

    </div>

    <div class="col-8">
        <!-- table is a angular component and css is encalpuslated we cannot override them so we create class -->
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab> 

            <tab heading="Interest" (selectTab)="onTabActivated($event)">
                <h4>Interest</h4>
                <p>{{member.interests}}</p>
            </tab> 

            <tab heading="Photos" (selectTab)="onTabActivated($event)">
                <!-- this is done referring to ngx galler document. -->
                <!-- https://github.com/kolkov/ngx-gallery -->
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery" ></ngx-gallery>
            </tab>
            <!-- this message is loading even if just want load to profile. thats a problem -->
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages  [username]="member.userName" ></app-member-messages>
            </tab> 

        </tabset>
    </div>

 </div>

